#home-category {
    background-color: #fff;
    padding: 10px;

    .carousel-item {
        ul {
            width: 100%;
            height: auto;
        }
        a {
            color: #333;
        }
        li {
            display: block;
            list-style: none;
            width: 20%;
            background-repeat: no-repeat;
            background-size: 50px auto;
            background-position: top center;
            text-align: center;
            padding-top: 50px;
            color: #666;
            font-size: 14px;
        }
        li.jingdian {
            background-image: url(../../static/assets/jingdian.png);
        }
        li.ktv {
            background-image: url(../../static/assets/ktv.png);
        }
        li.gouwu {
            background-image: url(../../static/assets/gouwu.png);
        }
        li.shenghuofuwu {
            background-image: url(../../static/assets/shenghuofuwu.png);
        }
        li.jianshenyundong {
            background-image: url(../../static/assets/jianshen.png);
        }
        li.meifa {
            background-image: url(../../static/assets/meifa.png);
        }
        li.qinzi {
            background-image: url(../../static/assets/qinzi.png);
        }
        li.xiaochikuaican {
            background-image: url(../../static/assets/xiaochi.png);
        }
        li.zizhucan {
            background-image: url(../../static/assets/zizhu.png);
        }
        li.jiuba {
            background-image: url(../../static/assets/jiuba.png);
        }
        li.meishi {
            background-image: url(../../static/assets/meishi.png);
        }
        li.dianying {
            background-image: url(../../static/assets/dianying.png);
        }
        li.jiudian {
            background-image: url(../../static/assets/jiudian.png);
        }
        li.xuixianyule {
            background-image: url(../../static/assets/yule.png);
        }
        li.waimai {
            background-image: url(../../static/assets/waimai.png);
        }
        li.huoguo {
            background-image: url(../../static/assets/huoguo.png);
        }
        li.liren {
            background-image: url(../../static/assets/liren.png);
        }
        li.dujiachuxing {
            background-image: url(../../static/assets/dujia.png);
        }
        li.zuliaoanmo {
            background-image: url(../../static/assets/anmo.png);
        }
        li.zhoubianyou {
            background-image: url(../../static/assets/zhoubian.png);
        }
        li.ribencai {
            background-image: url(../../static/assets/ribencai.png);
        }
        li.SPA {
            background-image: url(../../static/assets/SPA.png);
        }
        li.jiehun {
            background-image: url(../../static/assets/jiehun.png);
        }
        li.xuexipeixun {
            background-image: url(../../static/assets/xuexi.png);
        }
        li.xican {
            background-image: url(../../static/assets/meishi.png);
        }
        li.huochejipiao {
            background-image: url(../../static/assets/chuxing.png);
        }
        li.shaokao {
            background-image: url(../../static/assets/bbq.png);
        }
        li.jiazhuang {
            background-image: url(../../static/assets/jiazhuang.png);
        }
        li.chongwu {
            background-image: url(../../static/assets/pet.png);
        }
        li.quanbufenlei {
            background-image: url(../../static/assets/all.png);
        }
    }

    .index-container {
        margin-top: 10px;

        ul {
            width: 100%;
            height: auto;
            text-align: center;
        }
        li {
            list-style: none;
            display: inline-block;
            height: 8px;
            width: 8px;
            border-radius: 4px;
            background-color: #ccc;
            margin: 0 3px;
        }
        li.selected {
            background-color: rgb(233, 32, 61);
        }
    }
}